.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.chip-container {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  gap: 5px;
  flex: 1;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(80, 80, 152);
}

.chip {
  width: fit-content;
  padding: 5px;
  margin-right: 5px; 
  border-radius: 10px;
  background-color: gray;
}

.chip:hover {
  background-color: red;
  transition: 0.3s ease;
};

.focused:last-child {
  background-color: red;
}

.remove-chip-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: antiquewhite;
  margin-left: 5px;
}

.input-field {
  border: none;
  outline: none;
  margin-bottom: 5px;
  margin-top: 5px
}

.suggestions-container {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.suggestion-chip-wrapper {
  width: 150px;
  margin-bottom: 5px; 
}
.suggestion-chip {
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 25px;
}

.suggestion-chip:hover {
  background-color: orange;
  cursor: pointer;
  transition: 0.3s ease;
}
