.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.chip-container {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  gap: 5px;
  flex: 1;
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(80, 80, 152);
}

.chip {
  width: fit-content;
  padding: 5px;
  margin-right: 5px; 
  border-radius: 10px;
  background-color: aliceblue;
}

.chip:hover {
  background-color: antiquewhite;
  transition: 0.3s ease;
}

.focused:last-child {
  background-color: red;
}

.remove-chip-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: antiquewhite;
  margin-left: 5px;
}

.input-field {
  border: none;
  outline: none;
  margin-bottom: 5px;
  margin-top: 5px
}

.suggestions-container {
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  margin: 10px;
  overflow-y: scroll;
}

.suggestion-chip-wrapper {
  display: flex;
  width: 150px;
  margin: 8px; 
  border-radius: 25px;
  padding: 5px;
  border: none;
  align-items: center;
}
.suggestion-chip {
  font-weight: bold;
  text-align: left;
  background: transparent;
  padding: 0 3px;
}

.suggestion-chip-wrapper:hover {
  background-color: orange;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.chipContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2px;
}

.svg {
  font-weight: normal;
  margin-top: 5px;
  padding-left: 2px;
}

.email {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}